<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- =========================================================
         PERMISOS GENERALES
         ========================================================= -->

    <!-- Internet: Firebase, APIs, reconocimiento de voz remoto, etc. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Micrófono: necesario para Speak Lab -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Bluetooth para reconocimiento mediante audífonos/dispositivos.
         speech_to_text los contempla para Android. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />


    <!-- =========================================================
         CONSULTAS DE SERVICIOS / INTENTS
         ========================================================= -->

    <queries>

        <!-- Flutter: utilizado por ProcessTextPlugin -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>

        <!-- Speech To Text:
             requerido al apuntar a Android SDK 30+ para poder detectar
             servicios de reconocimiento de voz instalados. -->
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>

    </queries>


    <!-- =========================================================
         APLICACIÓN
         ========================================================= -->

    <application
        android:label="LingoVerse"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema utilizado mientras Flutter inicia -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Activity principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- Necesario para Flutter embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>